<div class="frame">
<div class="container">
  <div class="monitor"><p class="monitor-text">{{monitor}}</p></div>
    <div class="calculator-border">

      
      <div class="percentage btn"><button>%</button></div>
      <div class="clear-all btn"><button>CE</button></div>
      <div class="clear-one btn"><button>C</button></div>
      <div class="undo-button btn"><button>und</button></div>

      <div class="seven-button btn"><button>7</button></div>
      <div class="eight-button btn"><button>8</button></div>
      <div class="nine-button btn"><button>9</button></div>
      <div class="multiply btn"><button>*</button></div>

      <div class="four-button btn"><button>4</button></div>
      <div class="five-button btn"><button>5</button></div>
      <div class="six-button btn"><button>6</button></div>
      <div class="substract-button btn"><button>-</button></div>

      <div class="one-button btn"><button>1</button></div>
      <div class="two-button btn"><button>2</button></div>
      <div class="three-button btn"><button>3</button></div>
      <div class="add-button btn"><button>+</button></div>

      <div class="negation-button btn"><button>-/+</button></div>
      <div class="zero-button btn"><button>0</button></div>
      <div class="point-button btn"><button>.</button></div>
      <div class="equal-button btn"><button>=</button></div>
    </div>
</div>
</div>

<router-outlet></router-outlet>
